@model Model.EF.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section styles {
    <link href="~/assets/admin/css/custom-toggle-button.css" rel="stylesheet" />
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Home")">Trang chủ</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "User")">Tài khoản</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Chi tiết tài khoản</li>
    </ol>
</nav>

<div class="row bg-white shadow p-2">
    <div class="col-sm-12 col-md-6 form-group ">
        <label>Tài khoản <span class="text-danger"> *</span></label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text bg-white">
                    <i class="fas fa-user text-primary"></i>
                </span>
            </div>
            <input type="text" class="form-control" disabled value="@Model.UserName" name="UserName">
        </div>
    </div>
    <div class="col-sm-12 col-md-6 form-group ">
        <label>Họ tên <span class="text-danger"> *</span></label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text bg-white">
                    <i class="fas fa-chalkboard-teacher text-primary"></i>
                </span>
            </div>
            <input type="text" class="form-control" name="Name" value="@Model.Name" disabled>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 form-group ">
        <label>Địa chỉ</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text bg-white">
                    <i class="fas fa-map-marked-alt text-primary"></i>
                </span>
            </div>
            <input type="text" class="form-control" name="Address" value="@Model.Address" disabled>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 form-group ">
        <label>Điện thoại</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text bg-white">
                    <i class="fas fa-phone-alt text-primary"></i>
                </span>
            </div>
            <input type="text" class="form-control" name="Phone" placeholder="Điện thoại" value="@Model.Phone" disabled>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 form-group ">
        <label>Ngày tạo</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text bg-white">
                    <i class="fas fa-calendar-alt text-primary"></i>
                </span>
            </div>
            <input type="date" class="form-control" name="CreatedDate" placeholder="Ngày tạo" disabled
                   value="@(Model.CreatedDate.HasValue ? Model.CreatedDate.Value.ToString("yyyy-MM-dd") : null)" />
        </div>
    </div>
    <div class="col-sm-12 col-md-6 form-group ">
        <label>Người tạo</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text bg-white">
                    <i class="fas fa-user-plus text-primary"></i>
                </span>
            </div>
            <input type="text" class="form-control" name="CreatedBy" placeholder="Người tạo" value="@Model.CreatedBy">
        </div>
    </div>
    <div class="col-sm-12 col-md-6 form-group ">
        <label>Ngày sửa</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text bg-white">
                    <i class="far fa-calendar-check text-primary"></i>
                </span>
            </div>
            <input type="date" class="form-control" name="ModifiedDate" placeholder="Ngày sửa"
                   value="@(Model.ModifiedDate.HasValue ? Model.ModifiedDate.Value.ToString("yyyy-MM-dd") : null)" />
        </div>
    </div>
    <div class="col-sm-12 col-md-6 form-group ">
        <label>Người sửa</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text bg-white">
                    <i class="fas fa-user-edit text-primary"></i>
                </span>
            </div>
            <input type="text" class="form-control" placeholder="Người sửa" name="ModifiedBy" value="@Model.ModifiedBy">
        </div>
    </div>
    <div class="col-sm-12 col-md-6 form-group ">
        <label>Từ khóa Meta</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text bg-white">
                    <i class="fas fa-keyboard text-primary"></i>
                </span>
            </div>
            <input type="text" class="form-control" placeholder="Từ khóa Meta" name="MetaKeywords" value="@Model.MetaKeywords">
        </div>
    </div>
    <div class="col-sm-12 col-md-6 form-group ">
        <label>Trạng thái</label> <br />
        <label class="switch">
            <input type="checkbox" name="Status" value="@Model.Status" checked="@Model.Status">
            <span class="slider round"></span>
        </label>
    </div>
    <div class="col-sm-12 form-group text-right">
        <a type="button" class="btn btn-secondary" href="@Url.Action("Index", "User")">
            <i class="fas fa-backward"></i> Quay lại
        </a>
    </div>
</div>
