@using Model.EF
@model Content

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link href="~/assets/admin/css/custom-toggle-button.css" rel="stylesheet" />
}


@section scripts {
    <script>
        ClassicEditor
            .create(document.querySelector('#detail'))
            .then(editor => {
                editor.model.document.on('change', () => {
                    console.log('The Document has changed!');
                });
            })
            .catch(error => {
                console.error(error);
            });
    </script>
}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Home")">Trang chủ</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Content")">Nội dung</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Thêm mới</li>
    </ol>
</nav>



<form action="/admin/content/create" method="post" class="bg-white p-3 shadow" style="border-radius: 1rem;">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-sm-12 col-md-6 form-group ">
            <label>Tên bài viết <span class="text-danger"> *</span></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white">
                        <i class="fas fa-user text-primary"></i>
                    </span>
                </div>
                <input type="text" class="form-control" name="Name" placeholder="Tên bài viết">
            </div>
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-12 col-md-6 form-group ">
            <label>Meta tiêu đề <span class="text-danger"> *</span></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white">
                        <i class="fas fa-user text-primary"></i>
                    </span>
                </div>
                <input type="text" class="form-control" name="MetaTitle" placeholder="Meta tiêu đề">
            </div>
            @Html.ValidationMessageFor(model => model.MetaTitle, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-12 col-md-6 form-group ">
            <label>Hình ảnh <span class="text-danger"> *</span></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white">
                        <i class="fas fa-user text-primary"></i>
                    </span>
                </div>
                <input type="text" class="form-control" name="Image" placeholder="Hình ảnh">
            </div>
            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-12 col-md-6 form-group ">
            <label>Danh mục<span class="text-danger"> *</span></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white">
                        <i class="fas fa-user text-primary"></i>
                    </span>
                </div>
                <select class="form-control" name="CategoryID">
                    @foreach (Category category in (ViewBag.Categories as List<Category>))
                    {
                        <option value="@category.ID">@category.Name</option>
                    }
                </select>
            </div>
            @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-12 col-md-6 form-group ">
            <label>Mô tả <span class="text-danger"> *</span></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white">
                        <i class="fas fa-user text-primary"></i>
                    </span>
                </div>
                <input type="text" class="form-control" name="Description" placeholder="Mô tả">
            </div>
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>

        <div class="col-sm-12 col-md-6 form-group ">
            <label>Bảo hành<span class="text-danger"> *</span></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white">
                        <i class="fas fa-user text-primary"></i>
                    </span>
                </div>
                <input type="text" class="form-control" name="Warranty" placeholder="Bảo hành">
            </div>
            @Html.ValidationMessageFor(model => model.Warranty, "", new { @class = "text-danger" })
        </div>

        <div class="col-sm-12 col-md-6 form-group ">
            <label>Meta keyword</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white">
                        <i class="fas fa-user-edit text-primary"></i>
                    </span>
                </div>
                <input type="text" class="form-control" placeholder="Meta keyword" name="MetaKeywords">
            </div>
            @Html.ValidationMessageFor(model => model.MetaKeywords, "", new { @class = "text-danger" })
        </div>

        <div class="col-sm-12 col-md-6 form-group ">
            <label>Tags</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white">
                        <i class="fas fa-user-edit text-primary"></i>
                    </span>
                </div>
                <input type="text" class="form-control" placeholder="Tags" name="Tags">
            </div>
            @Html.ValidationMessageFor(model => model.Tags, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-12 col-md-6 form-group ">
            <label>Ngày hiển thị trang chủ</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white">
                        <i class="fas fa-calendar-alt text-primary"></i>
                    </span>
                </div>
                <input type="date" class="form-control" name="TopHot" placeholder="Ngày hiển thị trang chủ"
                       value="@(Model.TopHot.HasValue ? Model.TopHot.Value.ToString("yyyy-MM-dd") : null)">
            </div>
        </div>
        <div class="col-sm-6 col-md-6 form-group ">
            <label>Trạng thái</label> <br />
            <label class="switch">
                <input type="checkbox" name="Status" value="true">
                <span class="slider round"></span>
            </label>
            <input type="hidden" name="Status" value="false">
            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-12 col-md-12 form-group ">
            <label>Chi tiết<span class="text-danger"> *</span></label>
            <textarea id="detail" name="Detail" class="w-100" rows="10"></textarea>
            @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-12 form-group text-right">
            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Thêm mới</button>
            <a type="button" class="btn btn-secondary" href="@Url.Action("Index", "Content")">
                <i class="fas fa-backward"></i> Quay lại
            </a>
        </div>
    </div>
</form>
