@using PagedList.Mvc 
@model PagedList.IPagedList<Model.EF.Content>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link href="~/assets/admin/css/custom-paging-styles.css" rel="stylesheet" />
}
@section searchForm {
    @Html.Partial("_SearchForm", "/admin/content/index")
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Home")">Trang chủ</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Danh sách bài viết</li>
    </ol>
</nav>

<div class="row">
    <div class="col-sm-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <a href="@Url.Action("Create", "Content")" class="btn btn-primary">
                            <i class="fas fa-plus"></i> Thêm mới
                        </a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <th> Chức năng</th>
                        <th> Name</th>
                        <th> MetaTitle</th>
                        <th> Description </th>
                        <th> Image </th>
                        <th> Detail </th>
                        <th> Warranty </th>
                        <th> CreatedDate</th>
                        <th> CreatedBy </th>
                        <th> ModifiedDate</th>
                        <th> ModifiedBy</th>
                        <th> MetaKeywords </th>
                        <th> TopHot </th>
                        <th> ViewCount </th>
                        <th> Tags </th>
                        <th> Status </th>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <span class="d-flex">
                                            <a class="btn btn-sm btn-primary" title="Chỉnh sửa" href="@Url.Action("Edit", "Content", new { id = item.ID})">
                                                <i class="far fa-edit"></i>
                                            </a>
                                            <a class="btn btn-sm btn-success" title="Chi tiết" href="@Url.Action("Detail", "Content",  new { id = item.ID})">
                                                <i class="fas fa-info-circle"></i>
                                            </a>
                                            <a class="btn btn-sm btn-danger" title="Xóa" href="@Url.Action("Delete", "Content", new { id = item.ID})">
                                                <i class="far fa-trash-alt"></i>
                                            </a>
                                        </span>
                                    </td>
                                    <td> @item.Name</td>
                                    <td> @item.MetaTitle</td>
                                    <td> @item.Description</td>
                                    <td> @item.Image</td>
                                    <td> @item.Detail</td>
                                    <td> @item.Warranty</td>
                                    <td> @item.CreatedDate</td>
                                    <td> @item.CreatedBy</td>
                                    <td> @item.ModifiedDate</td>
                                    <td> @item.ModifiedBy</td>
                                    <td> @item.MetaKeywords</td>
                                    <td> @item.TopHot</td>
                                    <td> @item.ViewCount</td>
                                    <td> @item.Tags</td>
                                    <td> @item.Status</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row p-1 mt-2">
                    <div class="col-md-6">
                        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                    </div>
                    <div class="col-md-6 d-flex justify-content-end">
                        @Html.PagedListPager(Model, pageNumber => Url.Action("Index", "Content", new { pageNumber }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
